<% provide(:title, "Sign up") %>

<div class="signup-form-container">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname %>

    <%= f.label :email %><br />
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create my account" %>

  <% end %>

  <p>Already a user? <%= link_to 'Login now!', new_user_session_path %></p>

</div>
