<% comments.each do | comment | %>
  <div class="comment-wrapper<%= index > 0 && " comment-wrapper-padding" %>">
    <div class="comment-header">
      <% user = User.find(comment.user_id) %>
      <span class="commenter-name">
        <%= link_to user.firstname + ' ' + user.lastname, user_path(user) %>
      </span>
      <span class="comment-body"><%= comment.body %></span>
    </div>
    <div class="comment-footer">
      <span class="like-box" data-id="<%= comment.id %>" onclick="onLikeButtonClick(event, 'comment')">
        <% like = Like.find_by(
          user_id: current_user.id,
          likable_type: 'Comment',
          likable_id: comment.id,
        ) %>
        <%= current_user.likes.include?(like) ? 'Unlike' : 'Like' %>
      </span><span>.</span>
      <span class="comment-box" onclick="onCommentClick(event)" data-belong="comment" data-id="<%= comment.id %>">Comment</span>
      <span>.<span>
      <span><%= comment.created_at %></span>
    </div>
    <%= render partial: 'articles/list_comments', locals: { comments: comment.replies, index: index + 1 } %>
  </div>
<% end %>
