<% @articles.each do |article| %>
  <hr>
  <section class='article-list'>
    <div class='article-list-header'><%= article.title %></div>
    <% user = article.user %>
    <div class="article-list-creator">
      <div>
        <%= user.firstname + ' ' + user.lastname %>
      </div>
      <div>
        <span>Created at: </span><%= article.created_at %>
      </div>
    </div>
    <div class='article-list-body'><%= article.content %></div>
    <hr>
    <div class='article-list-footer'>
      <div class="article-like" data-id="<%= article.id %>" onclick="onLikeButtonClick(event, 'article')">
        <% like = Like.find_by(
          user_id: current_user.id,
          likable_type: 'Article',
          likable_id: article.id,
        ) %>
        <%= current_user.likes.include?(like) ? 'Unlike' : 'Like' %>
      </div>
      <div class="article-comment" onclick="onCommentClick(event)" data-belong="article" data-id="<%= article.id %>">Comment</div>
    </div>
    <div class='comment-list'>
      <%= render partial: 'articles/list_comments', locals: { comments: article.comments } %>
    </div>

    <!-- <%= link_to 'Edit', edit_article_path(article) %> -->
    <!-- <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> -->
  </section>
<% end %>
