<% comments.each do | comment | %>
  <div class="comment-wrapper<%= index > 0 && " comment-wrapper-padding" %>">
    <div class="comment-header">
      <% user = User.find(comment.user_id) %>
      <div class="image-comment-wrapper">
        <%= link_to user_path(user) do %>
          <div class="comment-image">
            <%= user_avatar(user.id) %>
          </div>
        <% end %>
        <div class="comment-only-wrapper">
          <span class="commenter-name">
            <%= link_to user.firstname + ' ' + user.lastname, user_path(user) %>
          </span>
          <span class="comment-body">
            <%= comment.is_deleted ? '[comment is deleted by admin]' : comment.body %>
          </span>
          <div class="comment-likes-count"><i class="fas fa-thumbs-up"></i> <%= comment.likes.count %></div>
        </div>
      </div>
      <div></div>
    </div>
    <div class="comment-footer">
      <span class="like-box" data-id="<%= comment.id %>" onclick="onLikeButtonClick(event, 'comment')">
        <% like = Like.find_by(
          user_id: current_user.id,
          likable_type: 'Comment',
          likable_id: comment.id,
        ) %>
        <%= current_user.likes.include?(like) ? 'Unlike' : 'Like' %>
      </span><span>.</span>
      <span class="comment-box" onclick="onCommentClick(event)" data-belong="comment" data-id="<%= comment.id %>">Comment</span>
      <% if current_user.admin? %>
        <span>.<span>
        <span class="delete-box">
          <% if comment.is_deleted %>
            <%= link_to 'Undo delete', comment_path(comment), method: :put %>
          <% else %>
            <%= link_to 'Delete', comment_path(comment), method: :delete %>
          <% end %>
        </span>
      <% end %>
      <span>.<span>
      <span><%= comment.created_at %></span>
    </div>
    <%= render partial: 'articles/list_comments', locals: { comments: comment.replies, index: index + 1 } %>
  </div>
<% end %>
