<% comments.each do | comment | %>
  <div class="comment-wrapper">
    <div class="comment-header">
      <% user = User.find(comment.user_id) %>
      <div>
        <%= user.firstname + ' ' + user.lastname %>
      </div>
      <div><span>created at: </span><%= comment.created_at %></div>
    </div>
    <hr>
    <div class="comment-body"><%= comment.body %></div>
    <hr>
    <div class="comment-footer">
      <div class="like-box" data-id="<%= comment.id %>" onclick="onLikeButtonClick(event, 'comment')">
        <% like = Like.find_by(
          user_id: current_user.id,
          likable_type: 'Comment',
          likable_id: comment.id,
        ) %>
        <%= current_user.likes.include?(like) ? 'Unlike' : 'Like' %>
      </div>
      <div class="comment-box" onclick="onCommentClick(event)" data-belong="comment" data-id="<%= comment.id %>">Comment</div>
    </div>
    <hr>
    <%= render partial: 'articles/list_comments', locals: { comments: comment.replies } %>
  </div>
<% end %>
