<% provide(:title, 'user') %>

<%= render 'articles/menu_button' %>

<main class='show-user'>
  <header>
    <div>
      <div>
        <div class='show-user-name'><%= @user.firstname + ' ' + @user.lastname %></div>
        <div><div class='show-user-email'><%= @user.email %></div></div>
      </div>
      <div class='show-user-options'>
        <div class='show-user-follow' onclick='followOrUnfollow()' data-id=<%= @user.id %>>
          <% if current_user.following.include?(@user) %>Unfollow<% else %>Follow<% end %>
        </div>
      </div>
    </div>
    <div class='show-user-follower-followyee'>
      <div>Followers<div><%= @user.followers.count %></div></div>
      <div>Following<div><%= @user.following.count %></div></div>
    </div>
  </header>

  <%= render 'articles/list_articles' %>

</main>
