<% provide(:title, 'user') %>

<main class='show-user'>
  <header>
    <div>
      <div>
        <div class='show-user-name'><%= @user.firstname + ' ' + @user.lastname %></div>
        <div><div class='show-user-email'><%= @user.email %></div></div>
      </div>
      <div class='show-user-options'>
        <div class='show-user-follow' onclick='followOrUnfollow()' data-id=<%= @user.id %>>
          <%= current_user.following.include?(@user) ? 'Unfollow' : 'Follow' %>
        </div>
        <% if current_user.admin? %>
          <div class='show-user-block' onclick='blockOrUnblock()' data-id=<%= @user.id %>>
            <%= @user.is_blocked?  ? 'Unblock' : 'Block' %>
          </div>
        <% end %>
        <div class="follow-user-btn">
          Follow
        </div>
      </div>
    </div>
    <div class='show-user-follower-followyee'>
      <div>Followers<div><%= @user.followers.count %></div></div>
      <div>Following<div><%= @user.following.count %></div></div>
    </div>
  </header>

  <%= render partial: 'articles/list_articles' %>

</main>
