<% provide(:title, 'user') %>

<main>
  <div class="user-cover-wrapper">
    <div class="user-cover-pic"><span><%= user_cover(@user.id) %></span></div>
    <div class="user-image-pic"><span><%= user_avatar(@user.id) %></span></div>
  </div>
  <div>
    <div class="flex-layout-bottom-image">
      <div class="flex-layout-bottom-image-inner">
        <div class="indicator_parent" id="first-indicator" data-for="article" data-id="<%= @user.id %>" ><div class="indicator">Articles</div><div class="all-counter"><%= @user.articles.count %></div></div>
        <div class="indicator_parent" data-for="following" data-id="<%= @user.id %>" ><div class="indicator">Following</div><div class="all-counter"><%= @user.following.count %></div></div>
        <div class="indicator_parent" data-for="followers" data-id="<%= @user.id %>" ><div class="indicator">Followers</div><div class="all-counter"><%= @user.followers.count %></div></div>
        <div class="indicator_parent" data-for="likes" data-id="<%= @user.id %>" ><div class="indicator">Likes</div><div class="all-counter"><%= @user.likes.count %></div></div>
      </div>
      <div class="block-follow-wrapper">
        <% user_following_action = current_user.following.include?(@user) ? 'Unfollow' : 'Follow' %>
        <div class="optional-follow"  onclick='followOrBlock(event)' data-action="<%= user_following_action %>" data-id="<%= @user.id %>"><%= user_following_action %></div>
        <% if current_user.admin? %>
          <% user_blocked_status = @user.is_blocked?  ? 'Unblock' : 'Block' %>
          <div class='show-user-option-to-block' onclick='followOrBlock(event)' data-id="<%= @user.id %>" data-action="<%= user_blocked_status %>"><%= user_blocked_status %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-page-main">
    <div class="user-page-profile-viewer">
      <div class='show-user-name'><%= @user.firstname + ' ' + @user.lastname %></div>
      <div class='show-user-email'><%= @user.email %></div>
    </div>
    <div class="user-page-render-space"></div>
    <div></div>
  </div>
</main>
