<% provide(:title, "Log in") %>

<div class="login-form-container">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'username...' %>
    <%= f.password_field :password, placeholder: 'password...' %>
    <%= f.submit "Log in" %>
  <% end %>

  <p>New user? <%= link_to 'Sign up now!', new_user_registration_path %></p>

</div>
